/*base part start */

ul {
    list-style: none;
}

* {
    padding: 0px;
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
$vwfontsize: 75; // iPhone 6尺寸的根元素大小基准值
// @function rem($px) {
//      @return ($px/$vwfontsize) * 1rem;
// }
@function rem($px) {
    @return ($px/$vwfontsize) * 1rem;
}

// 根元素大小使用 vw 单位
$vwdesign: 750;
html {
    font-size: ($vwfontsize/($vwdesign/2)) * 100vw; // 同时，通过Media Queries 限制根元素最大最小值
    @media screen and (max-width: 320px) {
        font-size: 64px;
    }
    @media screen and (min-width: 540px) {
        font-size: 108px;
    }
}

// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
    max-width: 540px;
    min-width: 320px;
}


// 利用 vw 自动随着屏幕变大而变大，缩小而缩小
ul.ex01 {
    border: 1px solid orange;
    li {
        font-size: 16px;
        // width: vw(350);
        background: #efefef;
        padding: rem(5);
        overflow: hidden;
        height: rem(110);
        div {
            &:nth-child(1) {
                float: left;
                img {
                    width: rem(130);
                    height: rem(100);
                }
            }
            &:nth-child(2) {
                float: left;
                margin-left: rem(10);
                ul {
                    height: 100%;
                    li {
                        background-color: #999;
                        height: rem(30);
                        max-width: rem(210);
                        /* 多出来的字  省略号*/
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        span {
                            display: inline-block;
                            max-width: rem(210);
                        }
                    }
                }
            }
        }
    }
}